body {
    background-color: salmon;
    margin: 0;
}

.container {
    background-color: #00cfff;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.content {
    background-color: cornflowerblue;
}