body {
    background-color: darkslategray;
    margin: 0;
    color: #111111;
}

.header {
    text-align: center;
    background-image: url("../img.png");
    background-blend-mode: luminosity;
    background-size: 100% 100%;
    color: #111111;
    font-size: 20px;
    text-shadow: 1px 1px gray;
    height: 200px;
}

.header-content {
    margin-top: 50px;
}

.container {
    background-color: #00d0ff9c;
    width: 85%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: #6494ed83;
}

.counters {
    list-style: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.counters li {
    width: 49%;
    display: inline-block;
}

.buttons {
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #6494ed83;
}

.progress {
    background-color: #2b2b2b0e;
    border: 1px solid #1b1b1b44;
    border-radius: 5px;
    height: 25px;
}

.nav-link {
    background-color: #4495ed;
    color: #333333;
}

.nav-tabs {
    border-bottom: 1px solid darkslategrey;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #00d0ffa9;
    border-color: #333333;
    color: black;
    border: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #555555;
    color: black;
}

.grid-container {
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: #ffffffcc;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}