body {
    background-color: salmon;
    margin: 0;
}

.container {
    background-color: #00cfff;
    width: 85%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: cornflowerblue;
}

.counters {
    list-style: none;
    margin: 0;
}

.counters li {
    width: 49%;
    display: inline-block;
}